USE [ForumExample]
GO
/****** Object:  Table [dbo].[Persons1]    Script Date: 5/6/2018 5:02:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons1](
	[id] [int] NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](50) NULL,
	[GenderIdentifier] [int] NULL,
	[IsDeleted] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[Persons1] ([id], [FirstName], [LastName], [GenderIdentifier], [IsDeleted]) VALUES (1, N'Stefanie', N'Buckley', 1, 0)
INSERT [dbo].[Persons1] ([id], [FirstName], [LastName], [GenderIdentifier], [IsDeleted]) VALUES (2, N'Karen', N'Payne', 1, 0)
INSERT [dbo].[Persons1] ([id], [FirstName], [LastName], [GenderIdentifier], [IsDeleted]) VALUES (3, N'Lee', N'Warren', 1, 0)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ_Person1_LastName]    Script Date: 5/6/2018 5:02:06 AM ******/
ALTER TABLE [dbo].[Persons1] ADD  CONSTRAINT [UQ_Person1_LastName] UNIQUE NONCLUSTERED 
(
	[LastName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
